# Сборочные файлы latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*_temp.tex

# Google disk files
Icon*

# Получение данных с конкретного новостного ресурса
application/data_raw/*

# Файлы python
__pycache__

# Файлы vscode
.vscode

# Файлы bigartm
bigartm*
*.batch
*.dict

# Название файла, часто используемое для тестов
test.txt

# Вспомогательные файлы ipython notebook
.ipynb_checkpoints

# Промежуточные текстовые файлы с почищенными данными в формате vowpal_wabbit
application/data_clean/result_clean

# Примеры кода
application/models/examples/*
