# Сборочные файлы latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*_temp.tex

# Google disk files
Icon*

# Получение данных с конкретного новостного ресурса
application/data_raw/*

__pycache__